@import "vars";
@import "global";

.header {
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 26px;
      padding-bottom: 16px;
   }
   &__tel {
      margin-left: auto;
      margin-right: 26px;
      color: #768b95;
      a {
         color: #768b95;
      }
      span {
         color: $red;
      }
   }
}
.btn-g {
   display: inline-block;
   padding: 9px 23px 9px;
   background: $green;
   text-align: center;
   border-radius: 4px;
   margin-right: 0;
   a {
      color: #fff;
      font-size: 12px;
   }
}
.btn-r {
   display: inline-block;
   padding: 9px 16.5px 9px;
   background: $red;
   text-align: center;
   border-radius: 4px;
   margin-left: 0;
   a {
      color: #fff;
      font-size: 12px;
   }
}

.header__menu {
   background-color: $bg;
}
.header__menu .header__inner {
   height: 62px;
   padding: 0;
   ul {
      padding: 0;
   }
   li {
      list-style: none;
      display: inline-block;
      & + li {
         margin-left: 35px;
      }
   }
   a {
      font-size: 14px;
      color: #fff;
   }
}
.search {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 533px;
   &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 155px;
      padding-bottom: 100px;
   }

   &__inner-title {
      font-size: 48px;
      color: #fff;
      margin-bottom: 38px;
   }

   &__inner-text {
      font-size: 20px;
      color: #fff;
      margin-bottom: 55px;
   }
   .form {
      max-width: 670px;
      margin: 0 auto;
      position: relative;
   }
   form {
      width: 670px;
   }
   input {
      border: none;
      border-radius: 4px;
      display: block;
      width: 100%;
      height: 56px;
      font-size: 14px;
      font-weight: 500;
      padding-left: 25px;
      padding-right: 60px;
   }
   button {
      display: block;
      border: none;
      position: absolute;
      background-color: transparent;
      top: 0;
      right: 16px;
      bottom: 0;
      &:focus {
         outline: none;
      }
   }
}
